<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>        
    <!--
    <authentication mode="Windows" />
    <identity impersonate="true" />  
    <authorization> 
      <deny users="?" /> 
    </authorization>
    -->    
  </system.web>
  <system.serviceModel>
    <!--
    <bindings>
      <wsHttpBinding>     
        <binding name="BasicHttpEndpointBinding">
          <security mode="Transport">
            <message clientCredentialType="Windows"/>
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    -->
    <bindings>
      <!-- 
          Following is the expanded configuration section for a BasicHttpBinding.
          Each property is configured with the default value.
          See the TransportSecurity, and MessageSecurity samples in the
          Basic directory to learn how to configure these features.
          -->
      <basicHttpBinding>
        <binding name="Binding1">
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="WCFWinServiceLib.Service1" behaviorConfiguration="SVSBehavior">
        <endpoint address="../Service1.svc" binding="basicHttpBinding" bindingConfiguration="Binding1" contract="WCFWinServiceLib.IService1"/>
        <!--
        <endpoint address="../Service1.svc" binding="wsHttpBinding" bindingConfiguration="BasicHttpEndpointBinding" name="BasicHttpEndpoint" contract="WCFWinServiceLib.IService1" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        -->
      </service>
    </services>
    <extensions>
      <behaviorExtensions>
        <add name="requestDelayerBehaviorEx" type="WCFWinServiceLib.RequestDelayerBehaviorElement, WCFWinServiceLib, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
        <add name="HashHeaderInspector" type="WCFWinServiceLib.HashHeaderInspector, WCFWinServiceLib"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SVSBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <!--<requestDelayerBehaviorEx />-->
        </behavior>
      </serviceBehaviors>
      <!--<endpointBehaviors>
        <behavior name="webBehaviour">
          <webHttp/>
        </behavior>
      </endpointBehaviors>-->
    </behaviors>
    <!--<serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true">-->
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true">
    <serviceActivations>
        <add factory="System.ServiceModel.Activation.WebServiceHostFactory"
             relativeAddress="./Service1.svc"
             service="WCFWinServiceLib.Service1"/>
      </serviceActivations>
    </serviceHostingEnvironment>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--  for Xdomain
    -->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type, Accept"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>