<?xml version="1.0"?>

<!--
/* SINALR
 * 
 * JQuery Sample:     http://localhost:61732/SignalR.Sample/StockTicker.html
 * Angular Sample:    http://localhost:61732/AngularJSImplementation/StockTicker-Angular.html
 *
 * Reference:         https://docs.microsoft.com/en-us/aspnet/aspnet/overview/owin-and-katana/an-overview-of-project-katana
 * 
 * Once landed on HTML page over HTTP, the HTTP will be upgraded to WebSocket.
 * Then communication will become full-duplex bi-directional with open connection.
 */
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
