<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>        
    <!--
    <authentication mode="Windows" />
    <identity impersonate="true" />  
    <authorization> 
      <deny users="?" /> 
    </authorization>
    -->    
  </system.web>
  <system.serviceModel>
    <!--
    <bindings>
      <wsHttpBinding>     
        <binding name="BasicHttpEndpointBinding">
          <security mode="Transport">
            <message clientCredentialType="Windows"/>
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    -->
    <bindings>
      <!-- 
          Following is the expanded configuration section for a BasicHttpBinding.
          Each property is configured with the default value.
          See the TransportSecurity, and MessageSecurity samples in the
          Basic directory to learn how to configure these features.
          -->
      <basicHttpBinding>
        <binding name="Binding1">
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <!-- SOAP - Access from .NET Service Reference -->
      <service name="WcfService1.Service1" behaviorConfiguration="WcfBehavior">
        <endpoint address="../Service1.svc" binding="basicHttpBinding" bindingConfiguration="Binding1" contract="WcfService1.IService1"/>
      </service>
      <!-- REST - Access from Restful URL -->      
      <service name="WcfService1.Service2" behaviorConfiguration="WcfBehavior">
        <endpoint address="ws" binding="wsHttpBinding" contract="WcfService1.IService2"/>     
        <endpoint address="../Service2.svc" binding="webHttpBinding" behaviorConfiguration="WebBehavior" contract="WcfService1.IService2"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>        
</services>
    <extensions>
      <behaviorExtensions>
        <add name="requestDelayerBehaviorEx" type="WcfService1.RequestDelayerBehaviorElement, WcfService1, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
        <add name="HashHeaderInspector" type="WcfService1.HashHeaderInspector, WcfService1"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="WebBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="WcfBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--<serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true">-->
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true">
    <serviceActivations>
      <add factory="System.ServiceModel.Activation.WebServiceHostFactory" relativeAddress="../Service1.svc" service="WcfService1.Service1"/>
      <add factory="System.ServiceModel.Activation.WebServiceHostFactory" relativeAddress="../Service2.svc" service="WcfService1.Service2"/>      
      </serviceActivations>
    </serviceHostingEnvironment>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--  for Xdomain
    -->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type, Accept"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>