<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebService1Soap" />
                <binding name="BasicHttpBinding_IService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.8.99/WebService/WebService1.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebService1Soap"
                contract="WebService.WebService1Soap" name="WebService1Soap" />
            <endpoint address="http://192.168.8.99/WCFService/Service1.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
                contract="WcfService.IService1" name="BasicHttpBinding_IService1" />
        </client>
    </system.serviceModel>
</configuration>