<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="StorageConnection" value="DefaultEndpointsProtocol=https;AccountName=timstore2018;AccountKey=ktv20IspQIpct7C0KiwHS1HcYLAIvhThAFaQXwyVHSZLWZkAuGcKJz2zZw0Oub+wY4+NK4fdAE5Yw0FS4Ic/5w==;EndpointSuffix=core.windows.net" />    
  </appSettings>
</configuration>